.navBar {
     &.stick {
          background-color: #fff;
          position: fixed;
          inset: 0;
          width: 100%;
          box-shadow: 0 0.2rem 4rem 0 hsl(0deg 0% 6% / 5%);
          animation: 0.3s ease 0s normal none 1 running fadeInDown;
          z-index: 3;
     }


     @keyframes fadeInDown {
          0% {
               opacity: 0;
               -webkit-transform: translateY(-1.8rem);
               -ms-transform: translateY(-1.8rem);
               transform: translateY(-1.8rem);
          }

          100% {
               opacity: 1;
               -webkit-transform: translateY(0);
               -ms-transform: translateY(0);
               transform: translateY(0);
          }
     }

     padding: 20px 0;
     height: 100px;

     .logo {
          cursor: pointer;

          span {
               font-weight: 700;
               font-size: 2.5rem;
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               background-color: #0093E9;
               background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


          }
     }

     .navigate {
          font-size: 2.0rem;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 20px;

          li {
               a {
                    display: flex;
                    text-align: center;
                    min-width: 100px;
                    padding: 10px;
                    display: block;
                    color: #3d3c3c;
               }

               .btnHeader {
                    background-color: transparent;
                    border: none;
                    outline: none;

                    .user {
                         color: #494444;
                         font-size: 2.0rem;
                    }

               }

               .btnGroup {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .btnLogin,
                    .btnResgiter {
                         min-width: 120px;
                         padding: 14px 10px;
                         background-color: #0093E9;
                         background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
                         color: #fff;
                         border-radius: 12px;

                    }
               }
          }

          .btnHeader {
               background-color: transparent;
               border: none;
               outline: none;

               .user {
                    color: #494444;
                    font-size: 2.0rem;
               }

          }

          .btnGroup {
               display: flex;
               gap: 10px;
               align-items: center;

               .btnLogin,
               .btnResgiter {
                    min-width: 120px;
                    padding: 14px 10px;
                    background-color: #0093E9;
                    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
                    color: #fff;
                    border-radius: 12px;

               }
          }

     }
}

.btnArrowTop {
     position: fixed;
     right: 30px;
     bottom: 30px;

     .icon {
          font-size: 4.5rem;
          color: #0093E9;

          &:hover {
               color: orangered
          }
     }
}